
<div class="container">
      <form #f="ngForm">
        <div class="form-group">
            <label>Type </label>
            <input type="text" name="type" class="form-control" [(ngModel)]="product.type" #t= "ngModel" required >
        </div>
        <div class="alert alert-danger" *ngIf="t.invalid && t.touched">Type is required</div>
        <div class="form-group">
          <label>Name </label>
          <input type="text" name="name" class="form-control" [(ngModel)]="product.name" #n= "ngModel" required>
        </div>
        <div class="alert alert-danger" *ngIf="n.invalid && n.touched">Name is required</div>
        <div class="form-group">
          <label>Price </label>
          <input type="number" name="price" class="form-control" [(ngModel)]="product.price" #p= "ngModel" required>
        </div>
        <div class="alert alert-danger" *ngIf="p.invalid && p.touched">Price is required</div>

        <div class="form-group">
          <label>Description </label>
          <input type="text" name="description" class="form-control" [(ngModel)]="product.description" #d= "ngModel" required>
          <div class="alert alert-danger" *ngIf="d.invalid && d.touched">Description is required</div>

        </div>
        <div class="form-group">
          <label>BarCode </label>
          <input type="text" name="barCode" class="form-control" [(ngModel)]="product.barCode" #c= "ngModel" required pattern="619[a-zA-Z0-9]{10}">
          <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
            <div *ngIf="c.errors.required">BarCode is required</div>
            <div *ngIf="c.errors.pattern">BarCode must start with 619</div>
          </div>
        </div>
        <button class="btn btn-warning" [disabled]="f.invalid" (click)="ajouterProduit(product)">save</button>
      </form>
</div>

