<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

</head>
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <h1>Categories</h1>
    </header>
    <ul class="nav">

      <li>
        <a routerLink="/listCategories">
          <i class="zmdi zmdi-view-dashboard"></i> List Categories
        </a>
      </li>
      <li>
        <a routerLink="/addCategory">
          <i class="zmdi zmdi-calendar"></i> Add Category
        </a>
      </li>

    </ul>
    <header>
      <h1>Publicities</h1>
    </header>
    <ul class="nav">
    <li>
      <a routerLink="/listPublicities">
        <i class="zmdi zmdi-view-dashboard"></i> List Publicities
      </a>
    </li>
    <li>
      <a routerLink="/count">
        <i class="zmdi zmdi-calendar"></i> Number of users
      </a>
    </li>
    </ul>
  </div>
  <!-- Content -->

</div>
